<a href="https://colab.research.google.com/github/kjp07/data-python-learning/blob/main/data_types_and_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Data Types and Variables**

### **Exercise 1**
The cell below contains a function. Functions are named sets of instructions that do one particular thing, often creating a new set of data but sometimes just setting something up.

A function starts with the keyword def (short for define or definition). All instructions below the definition are indented and this indicates that they are part of that function. A function runs when its name is used outside the function (here it is not indented). The indentation is important, note where the code is and isn't indented.

- create a variable called name and assign it a value (any name)
- print the message “Hello” name
- change the value of name and run the code again to get a new message

In [6]:
def print_welcome():
  # create the variable called name below here (indented like this line) and add the instruction print("Hello",name)
  name = "Mark"
  print("Hello", name)

print_welcome()

Hello Mark

### **Exercise 2**
- create two variables num1 and num2 and assign them each a whole number
- create a third variable total which will store the sum of num1 + num2
- run the code

Change the value of one of the numbers and run the code again to get new messages and a new total.

In [8]:
def print_total():
  # add your code below here
  num1 = 25
  num2 = 6
  total = num1 + num2
  print(num1, "+", num2, "=", total)

print_total()

25 + 6 = 31

### **Exercise 3 - variables of different types**
- create a variable called name and assign it the value "Monty"
- create a variable called age and assign it the value 101
- print a message "Hello name you are age years old"

*Test input:*  
Billy  
18

*Expected output:*  
Hello Billy you are 18 years old

In [17]:
def print_info():
  # add your code below here
  name = "Monty"
  age = 101
  print("Hello", name + ".", "You are", age, "years old.") # Add a period to the end of name

print_info()

Hello Monty. You are 101 years old.

### **Exercise 4 - float variables (and writing your own function)**

Write a function called print_price() which will:

- create a variable called product and assign the value "Chocolate Bar"
- create a variable called cost and assign the value 1.39
- print the message product, "costs", "£", cost

*Expected output:*  
Chocolate Bar costs £ 1.39

In [21]:
def print_price():
  product = "Chocolate Bar"
  cost = 1.39
  print(product, "costs", "£", cost)
print_price()

Chocolate Bar costs £ 1.39

In [22]:
# Same again but making the cost a string
# Combining cost with "£" so no gaps
def print_price():
  product = "Chocolate Bar"
  cost = str(1.39)
  print(product, "costs", "£" + cost)
print_price()

Chocolate Bar costs £1.39

### **Exercise 5 - concatenating strings**

Write a function called print_full_name() which will:

- create variable called name and assign it the value "Monty"
- create a variable called surname and assign it the value "Python"
- create a variable called full_name and assign it the value name + " " + surname
- print the full_name

*Expected output:*  
Monty Python

In [23]:
def print_full_name():
  name = "Monty"
  surname = "Python"
  full_name = name + " " + surname
  print(full_name)
print_full_name()

Monty Python

## **Data Types and Operators**

### **Exercise 1 - changing data type**

Write a function called print_details() which will:

- ask the user their name, age and height in metres
- print the message Hello name you are age years old and height metres tall

***Remember to specify the correct data type for each input***

*Test Input:*  
Jean  
52  
2.3

*Expected Output:*  
Hello Jean you are 52 years old and 2.3 metres tall

In [27]:
def print_details():
  name = str(input("What is your name? "))
  age = int(input("How old are you? "))
  height = float(input("How tall are you in metres? "))
  print("Hello", name, "you are", age, "years old and", height, "metres tall")
print_details()

What is your name? Mark
How old are you? 22
How tall are you in metres? 1.68
Hello Mark you are 22 years old and 1.68 metres tall

In [31]:
# Same with grammar
def print_details():
  name = str(input("What is your name? "))
  age = int(input("How old are you? "))
  height = float(input("How tall are you in metres? "))
  print("Hello,", name + ".", "You are", age, "years old and", height, "metres tall.")
print_details()

What is your name? Kelsey
How old are you? 24
How tall are you in metres? 1.56
Hello, Kelsey. You are 24 years old and 1.56 metres tall.

### **Exercise 2 - boolean variables**

A boolean variable can hold just two values, True or False. This type of variable is hugely valuable in holding onto the state of things. For example, a boolean variable called loggedIn might hold True if the user is loggedIn and False otherwise. This means that at any point while a program is running, it is possible to ask the question "Is the user logged in?". The answer will depend on the value of the variable loggedIn.

Although we will use the values True and False as words, Python stores them as 1 for true and 0 for false.

To demonstrate this, write a function called **show_trueFalse()** which will:

- create a variable called **logged_in** and assign it the value True (use the * assignment operator = the same as usual)
- create a variable called **logged_in_as_num** and assign it the value int(True)
- print logged_in and logged_in_as_num

*Expected output:*  
True 1

When you have run this, change True to False in both places.

*Expected output:*  
False 0

In [36]:
# Where logged_in = True and logged_in_as_num = int(True)
def show_trueFalse():
  logged_in = True
  logged_in_as_num = int(True)
  print(logged_in)
  print(logged_in_as_num)
show_trueFalse()

True
1

In [38]:
# Where logged_in = False and logged_in_as_num = int(False)
def show_trueFalse():
  logged_in = False
  logged_in_as_num = int(False)
  print(logged_in)
  print(logged_in_as_num)
show_trueFalse()

False
0

### **Exercise 3 - converting to float to int**
Write a function called count_poundCoins() which will:

- ask the user to enter an amount in pounds and pence and assign this value to a float variable called pounds_pence
- convert the float variable to int and assign this value to a variable called pound_coins
- print the message Number of pound coins pound_coins

*Test input:*  
3.48

*Expected output:*  
Number of pound coins 3

In [42]:
def count_poundCoins():
  pounds_pence = float(input("Enter an amount of money in pounds and pence: "))
  pound_coins = int(pounds_pence)
  print("Number of pound coins", pound_coins)
count_poundCoins()

Enter an amount of money in pounds and pence: 3.48
Number of pound coins 3

### **Exercise 4 - converting int to string**
Write a function called format_currency() which will:

- ask the user to enter a number of pounds and assign this to an integer variable called num_pounds
- convert numPounds to a string and assign it to a variable called pounds
- create a String variable called currency which has a "£", pounds, ".00" joined together
- print the resulting currency, including the £ sign

*Test input:*  
4

*Expected output:*  
£4.00

In [44]:
def format_currency():
  num_pounds = int(input("Enter an amount of pounds: "))
  pounds = str(num_pounds)
  print("£" + pounds + ".00") # Combining strings
format_currency()

Enter an amount of pounds: 4
£4.00

### **Exercise 5 - area of a circle**
Write a function called calculate_area() which will:

- ask the user to enter the radius of a circle (which could be a float or an int)
- create a variable called pi and assign it the value 3.14159
- calculate the area of the circle (pi radius radius)
- print the area of the circle to 2 decimal places.

*Test input:*  
5

*Expected output:*  
78.54

In [46]:
def calculate_area():
  radius = int(input("Enter the radius of a circle: "))
  pi = 3.14159
  area = pi * radius * radius
  print(round(area, ndigits=2))
calculate_area()

Enter the radius of a circle: 5
78.54