<a href="https://colab.research.google.com/github/kjp07/data-python-learning/blob/main/data_types_and_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Data Types and Variables**

**Exercise 1**  
The cell below contains a function. Functions are named sets of instructions that do one particular thing, often creating a new set of data but sometimes just setting something up.

A function starts with the keyword def (short for define or definition). All instructions below the definition are indented and this indicates that they are part of that function. A function runs when its name is used outside the function (here it is not indented). The indentation is important, note where the code is and isn't indented.

- create a variable called name and assign it a value (any name)
- print the message “Hello” name
- change the value of name and run the code again to get a new message

In [6]:
def print_welcome():
  # create the variable called name below here (indented like this line) and add the instruction print("Hello",name)
  name = "Mark"
  print("Hello", name)

print_welcome()

Hello Mark

**Exercise 2**  
- create two variables num1 and num2 and assign them each a whole number
- create a third variable total which will store the sum of num1 + num2
- run the code

Change the value of one of the numbers and run the code again to get new messages and a new total.

In [8]:
def print_total():
  # add your code below here
  num1 = 25
  num2 = 6
  total = num1 + num2
  print(num1, "+", num2, "=", total)

print_total()

25 + 6 = 31

**Exercise 3 - variables of different types**  
- create a variable called name and assign it the value "Monty"
- create a variable called age and assign it the value 101
- print a message "Hello name you are age years old"

*Test input:*  
Billy  
18

*Expected output:*  
Hello Billy you are 18 years old

In [17]:
def print_info():
  # add your code below here
  name = "Monty"
  age = 101
  print("Hello", name + ".", "You are", age, "years old.") # Add a period to the end of name

print_info()

Hello Monty. You are 101 years old.

**Exercise 4 - float variables (and writing your own function)**  

Write a function called print_price() which will:

- create a variable called product and assign the value "Chocolate Bar"
- create a variable called cost and assign the value 1.39
- print the message product, "costs", "£", cost

*Expected output:*  
Chocolate Bar costs £ 1.39

In [21]:
def print_price():
  product = "Chocolate Bar"
  cost = 1.39
  print(product, "costs", "£", cost)
print_price()

Chocolate Bar costs £ 1.39

In [22]:
# Same again but making the cost a string
# Combining cost with "£" so no gaps
def print_price():
  product = "Chocolate Bar"
  cost = str(1.39)
  print(product, "costs", "£" + cost)
print_price()

Chocolate Bar costs £1.39

**Exercise 5 - concatenating strings**  

Write a function called print_full_name() which will:

- create variable called name and assign it the value "Monty"
- create a variable called surname and assign it the value "Python"
- create a variable called full_name and assign it the value name + " " + surname
- print the full_name

*Expected output:*  
Monty Python

In [23]:
def print_full_name():
  name = "Monty"
  surname = "Python"
  full_name = name + " " + surname
  print(full_name)
print_full_name()

Monty Python

## **Data Types and Operators**

**Exercise 1 - changing data type**  

Write a function called print_details() which will:

- ask the user their name, age and height in metres
- print the message Hello name you are age years old and height metres tall

***Remember to specify the correct data type for each input***

*Test Input:*  
Jean  
52  
2.3

*Expected Output:*  
Hello Jean you are 52 years old and 2.3 metres tall

In [27]:
def print_details():
  name = str(input("What is your name? "))
  age = int(input("How old are you? "))
  height = float(input("How tall are you in metres? "))
  print("Hello", name, "you are", age, "years old and", height, "metres tall")
print_details()

What is your name? Mark
How old are you? 22
How tall are you in metres? 1.68
Hello Mark you are 22 years old and 1.68 metres tall

In [31]:
# Same with grammar
def print_details():
  name = str(input("What is your name? "))
  age = int(input("How old are you? "))
  height = float(input("How tall are you in metres? "))
  print("Hello,", name + ".", "You are", age, "years old and", height, "metres tall.")
print_details()

What is your name? Kelsey
How old are you? 24
How tall are you in metres? 1.56
Hello, Kelsey. You are 24 years old and 1.56 metres tall.

**Exercise 2 - boolean variables**  

A boolean variable can hold just two values, True or False. This type of variable is hugely valuable in holding onto the state of things. For example, a boolean variable called loggedIn might hold True if the user is loggedIn and False otherwise. This means that at any point while a program is running, it is possible to ask the question "Is the user logged in?". The answer will depend on the value of the variable loggedIn.

Although we will use the values True and False as words, Python stores them as 1 for true and 0 for false.

To demonstrate this, write a function called **show_trueFalse()** which will:

- create a variable called **logged_in** and assign it the value True (use the * assignment operator = the same as usual)
- create a variable called **logged_in_as_num** and assign it the value int(True)
- print logged_in and logged_in_as_num

*Expected output:*  
True 1

When you have run this, change True to False in both places.

*Expected output:*  
False 0

In [36]:
# Where logged_in = True and logged_in_as_num = int(True)
def show_trueFalse():
  logged_in = True
  logged_in_as_num = int(True)
  print(logged_in)
  print(logged_in_as_num)
show_trueFalse()

True
1

In [38]:
# Where logged_in = False and logged_in_as_num = int(False)
def show_trueFalse():
  logged_in = False
  logged_in_as_num = int(False)
  print(logged_in)
  print(logged_in_as_num)
show_trueFalse()

False
0

**Exercise 3 - converting to float to int**  
Write a function called count_poundCoins() which will:

- ask the user to enter an amount in pounds and pence and assign this value to a float variable called pounds_pence
- convert the float variable to int and assign this value to a variable called pound_coins
- print the message Number of pound coins pound_coins

*Test input:*  
3.48

*Expected output:*  
Number of pound coins 3

In [42]:
def count_poundCoins():
  pounds_pence = float(input("Enter an amount of money in pounds and pence: "))
  pound_coins = int(pounds_pence)
  print("Number of pound coins", pound_coins)
count_poundCoins()

Enter an amount of money in pounds and pence: 3.48
Number of pound coins 3

**Exercise 4 - converting int to string**  
Write a function called format_currency() which will:

- ask the user to enter a number of pounds and assign this to an integer variable called num_pounds
- convert numPounds to a string and assign it to a variable called pounds
- create a String variable called currency which has a "£", pounds, ".00" joined together
- print the resulting currency, including the £ sign

*Test input:*  
4

*Expected output:*  
£4.00

In [44]:
def format_currency():
  num_pounds = int(input("Enter an amount of pounds: "))
  pounds = str(num_pounds)
  print("£" + pounds + ".00") # Combining strings
format_currency()

Enter an amount of pounds: 4
£4.00

**Exercise 5 - area of a circle**  
Write a function called calculate_area() which will:

- ask the user to enter the radius of a circle (which could be a float or an int)
- create a variable called pi and assign it the value 3.14159
- calculate the area of the circle (pi radius radius)
- print the area of the circle to 2 decimal places.

*Test input:*  
5

*Expected output:*  
78.54

In [46]:
def calculate_area():
  radius = int(input("Enter the radius of a circle: "))
  pi = 3.14159
  area = pi * radius * radius
  print(round(area, ndigits=2))
calculate_area()

Enter the radius of a circle: 5
78.54

## **Working with Strings**

**Exercise 1 input and strings**  
**Recap:** to get input from the user and store it in a variable, use the instruction

variableName = input("message asking user for required information")

Remember: Unless you state otherwise, all input is String data

Write a function called **print_initials()** which will:

- ask the user to input a **first_name**
- ask the user to input a **middle_name**
- ask the user to input a **surname**
- print the name in the format: surname, first_name middle_name

*Test Inputs:*  
Peter  
Barry  
Burrows  

*Expected output:*  
Burrows, Peter Barry

In [48]:
def print_initials():
  first_name = str(input("What is your first name? "))
  middle_name = str(input("what is your middle name? "))
  surname = str(input("What is your surname? "))
  print(surname + ",", first_name, middle_name)
print_initials()

What is your first name? Peter
what is your middle name? Barry
What is your surname? Burrows
Burrows, Peter Barry

## **Substrings**

In [50]:
# Example: printing particular letters from a String
def print_letters():
  name = "Robert"
  first_letter = name[0]
  third_letter = name[2]
  fifth_letter = name[4]
  print(first_letter, third_letter, fifth_letter)
print_letters()

R b r

In [51]:
# Example: printing a set of letters from a String
def print_substrings():
  name = "Robert"
  first_three_letters = name[0:3]
  second_to_fifth_letters = name[1:5]
  last_three_letters = name[-3:] # Last letter is at position -1
  print(first_three_letters)
  print(second_to_fifth_letters)
  print(last_three_letters)
print_substrings()

Rob
ober
ert

**Exercise 2 - substrings**  
Write a function called print_substring() which will:

- Ask the user to input a name of at least 5 letters  
- Print the first and the fourth letters in the name

*Test Inputs:* 
Bartholomew

*Expected output:*  
First letter is B, fourth letter is t

In [54]:
def print_substring():
  name = str(input("Input a name that is at least 5 letters long: "))
  first_four_letters = name[0:4]
  print(first_four_letters)
print_substring()

Input a name that is at least 5 letters long: Bartholomew
Bart

**Exercise 3 - Formatting String output**  
Write a function called print_formatted() which will:

- ask the user to input a house_number
- ask the user to input a road_name, then a town, then a postcode
- print the address on three lines (house_number with a comma and road_name, town, postcode)

*Test Input:*  
10  
Old Road  
Chatham  
ME4 1AA  

*Expected output:*  
10, Old Road  
Chatham  
ME4 1AA

In [64]:
def print_formatted():
  house_number = str(input("Enter a house number: "))
  road_name = str(input("Enter a road name: "))
  town = str(input("Enter a town: "))
  postcode = str(input("Enter a postcode: "))
  print(house_number + ",", road_name)
  print(town)
  print(postcode)
print_formatted()

Enter a house number: 10
Enter a road name: Old Road
Enter a town: Chatham
Enter a postcode: ME4 1AA
10, Old Road
Chatham
ME4 1AA

## **String funnctions**

### **String length**

**Exercise 4 - String length**  
Write a function called print_namelength() which will:

- ask the user to input a name
- assign the length of the name to a variable called name_length
- print the name followed by a comma, then name_length, then the word “characters”.

*Test Input:*  
William

*Expected Output:*  
William, 7 characters

In [66]:
def print_namelength():
  name = str(input("Enter a name: "))
  name_length = len(name)
  print(name + ",", name_length, "characters.")
print_namelength()

Enter a name: William
William, 7 characters.

### **String Case Conversion**

**Exercise 5 - case conversion**  
Write a function called convert_to_lowercase() which will:

- ask the user to input a name in lowercase letters
- assign the capitalised String to the variable capitalised_name
- print the name in capitals

*Test Input:*  
jaswinder

*Expected output:*  
JASWINDER

In [67]:
def convert_to_lowercase():
  name = str(input("Enter your name in lowercase letter: "))
  capitalised_name = name.capitalize()
  print(capitalised_name)
convert_to_lowercase()

Enter your name in lowercase letter: jaswinder
Jaswinder

**Exercise 6 - case conversion**  
Write a function called capitalise_names() which will:

- ask the user to input a name and a surname
- print both name and surname in lowercase with a capital letter at the start, even if they didn't have capitals when they were typed in

*Test Input:*  
benJamIN

*Expected output:*  
Benjamin

In [68]:
def capitalise_names():
  name = str(input("Enter a name: "))
  surname = str(input("Enter a surname: "))
  print(name.capitalize(), surname.capitalize())
capitalise_names()

Enter a name: benJamIN
Enter a surname: sURey
Benjamin Surey

**Exercise 7 - Substrings**  
Write a function called **print_postcode_letters()** which will:

- ask the user to enter a **postcode**
- assign the first two letters of the postcode to a variable called **postcode_area**
- convert the postcode_area String to capital letters and assign this to a variable called **capitalised_area**
- print the capitalised_area

*Test Input:*  
Me4 6bb

*Expected output:*  
ME

In [70]:
def print_postcode_letters():
  postcode = str(input("Enter a postcode: "))
  postcode_area = postcode[0:2]
  capitalised_area = postcode_area.upper()
  print(capitalised_area)
print_postcode_letters()

Enter a postcode: Me4 6bb
ME

**Exercise 8 - Floor division and slicing**  
Write a function called print_half_word() which will:

- ask the user to enter a **word**
- assign the value of half the length of the word to a variable called **half_length**
- assign the first half of the word to a new variable called **half_word**
- print half_word

*Hint: when dividing the length of the word by 2, use floor division (//) so that you get a whole number of letters). To get the first half of the word, use word[0:halfLength]*

*Test input:*  
Runtime

*Expected output:*  
Run

In [71]:
def print_half_word():
  word = str(input("Enter a word: "))
  half_length = len(word) // 2 # Determine length of word then half it using floor division
  half_word = word[0:half_length]
  print(half_word)
print_half_word()

Enter a word: Runtime
Run

**Exercise 9 - String repetition**  
Write a function called **repeat_two_letters()** which will:

- ask the user to enter a **word**
- assign the last two letters of the word to a variable called **last_two**
- assign a string made of 5 copies of the last_two (*Hint: last_two 5 will do it*) to a variable called **five_copies**
- print five_copies

*Test Input:*  
Data

*Expected output:*  
tatatatata

In [75]:
def repeat_two_letters():
  word = str(input("Enter a word: "))
  last_two = word[-2:]  # Start from end
  five_copies = last_two * 5
  print(five_copies)
repeat_two_letters()

Enter a word: Data
tatatatata

**Exercise 10 - converting String to lower case**  
Write a function called lowerCase_threeLetters() which will:

- assign the value “january” to a variable called **month**
- assign the first three characters of month to a variable called **month_short**
- capitalise month_short and store the result back in month_short
- assign the rest of the characters to a variable called **month_rest**
- join month_short and month_rest together and store the result back into the variable **month**
- print **month**

*Expected output:*  
JANuary

In [78]:
def lowerCase_threeLetters():
  month = "january"
  month_short = month[0:3] # Select first three letters
  month_short = month_short.upper() # Capitalise
  month_rest = month[3:] # Select the rest of the word
  month = month_short + month_rest # Combine
  print(month) 
lowerCase_threeLetters()

JANuary