<a href="https://colab.research.google.com/github/kjp07/data-python-learning/blob/main/Normalising_challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Normalisation challenges

### Challenge 1 - prepare dataset for normalisation 
---
1. Read Covid vaccination data from the `by_country` sheet in the Excel file at this link : https://github.com/lilaceri/Working-with-data-/blob/342abab10d93c4bf23b5c55a50f189f12a137c5f/Data%20Sets%20for%20code%20divisio/Covid%20Vaccination%20Data.xlsx?raw=true
2. Use .info() to find out which columns have missing values
3. Remove all rows with missing data in the total_vaccination column
4. Find the median vaccinations per hundred 
5. display the mean people vaccinated per hundred for each country in descending order
6. find the range of total_vaccinations across the dataframe 


**Test output**:  
1. dataframe is saved in a variable
2. 
```
RangeIndex: 14994 entries, 0 to 14993
Data columns (total 15 columns):
    Column                               Non-Null Count  Dtype         
                                
 0   country                              14994 non-null  object        
 1   iso_code                             14994 non-null  object        
 2   date                                 14994 non-null  datetime64[ns]
 3   total_vaccinations                   9011 non-null   float64       
 4   people_vaccinated                    8370 non-null   float64       
 5   people_fully_vaccinated              6158 non-null   float64       
 6   daily_vaccinations_raw               7575 non-null   float64       
 7   daily_vaccinations                   14796 non-null  float64       
 8   total_vaccinations_per_hundred       9011 non-null   float64       
 9   people_vaccinated_per_hundred        8370 non-null   float64       
 10  people_fully_vaccinated_per_hundred  6158 non-null   float64       
 11  daily_vaccinations_per_million       14796 non-null  float64       
 12  vaccines                             14994 non-null  object        
 13  source_name                          14994 non-null  object        
 14  source_website                       14994 non-null  object        
dtypes: datetime64[ns](1), float64(9), object(5)
memory usage: 1.7+ MB
```
3. 9011 rows × 15 columns
4. 7.78
5. 
```
country
Gibraltar       72.172462
Maldives        51.276087
Israel          48.931008
Seychelles      48.233333
Aruba           42.155000
                  ...    
Guinea           0.677000
Sierra Leone     0.530000
Namibia          0.317143
South Africa     0.261667
Albania          0.080000
Name: people_vaccinated_per_hundred, Length: 104, dtype: float64
```
6. 275338000.0

In [1]:
import pandas as pd

In [2]:
url = "https://github.com/lilaceri/Working-with-data-/blob/342abab10d93c4bf23b5c55a50f189f12a137c5f/Data%20Sets%20for%20code%20divisio/Covid%20Vaccination%20Data.xlsx?raw=true"
df = pd.read_excel(url, sheet_name = "by_country")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14994 entries, 0 to 14993
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              14994 non-null  object
 1   iso_code                             14994 non-null  object
 2   date                                 14994 non-null  datetime64[ns]
 3   total_vaccinations                   9011 non-null   float64
 4   people_vaccinated                    8370 non-null   float64
 5   people_fully_vaccinated              6158 non-null   float64
 6   daily_vaccinations_raw               7575 non-null   float64
 7   daily_vaccinations                   14796 non-null  float64
 8   total_vaccinations_per_hundred       9011 non-null   float64
 9   people_vaccinated_per_hundred        8370 non-null   float64
 10  people_fully_vaccinated_per_hundred  6158 non-null   float64
 11  daily_vaccinations_per_million       14796 non-null  float64
 12  vaccines                             14994 non-null  object
 13  source_name                          14994 non-null  object
 14  source_website                       14994 non-null  object
dtypes: datetime64[ns](1), float64(9), object(5)
memory usage: 1.7+ MB

In [4]:
# 3 - remove rows with missing data in total_vaccination_column
df_drop = df.dropna(subset = ["total_vaccinations"], inplace = True)
df.shape # Test

(9011, 15)

In [5]:
# 4 - Median vaccinations per hundred
df["total_vaccinations_per_hundred"].median()

6.3

In [6]:
# 5 - display the mean people vaccinated per hundred for each country in descending order
df.groupby("country")["people_vaccinated_per_hundred"].mean().sort_values(ascending = False)

country
Gibraltar                           64.975699
Bhutan                              55.961892
Falkland Islands                    51.063333
Saint Helena                        44.880000
Seychelles                          44.005686
                                      ...
China                                     NaN
Ethiopia                                  NaN
Saint Vincent and the Grenadines          NaN
Samoa                                     NaN
Saudi Arabia                              NaN
Name: people_vaccinated_per_hundred, Length: 195, dtype: float64

In [7]:
# 6 - find the range of total_vaccinations across the dataframe
max = df["total_vaccinations"].max()
min = df["total_vaccinations"].min()
print(max - min)

275338000.0

### Challenge 2 - normalise daily vaccinations 
---

1. Find the median daily vaccinations per million 
2. Write a function to normalise daily vaccinations per million, where values greater than or equal to median = 1 and values less than median = 0 

**Test output**: 

1. 1915.5
2. 
```
0        0
6        0
22       0
44       0
59       0
        ..
14989    0
14990    0
14991    0
14992    0
14993    0
Name: daily_vaccinations_per_million, Length: 9011, dtype: int64
```

In [8]:
# 1 - Find the median daily vaccinations per million
median = df["daily_vaccinations_per_million"].median()
print(median)

1915.5

In [9]:
# 2 - Write a function to normalise daily vaccinations per million, where values greater than or equal to median = 1 and values less than median = 0
def normalise_daily_vaccinations(df):
  if df["daily_vaccinations_per_million"] >= median:
    return 1
  else:
    return 0

df["daily_vaccinations_per_million"] = df.apply(normalise_daily_vaccinations, axis=1)

# Test
print("Max:", df["daily_vaccinations_per_million"].max())
print("Min:", df["daily_vaccinations_per_million"].min())

Max: 1
Min: 0

### Challenge 3 - Normalising total vaccinations   
---
The United Kingdom has been praised for its fast vaccine rollout. 
1. Find the minimum total vaccinations for the United Kingdom 
2. Save this value in a variable rounded down to an integer
3. Write a function to normalise total_vaccinations column so that all values less than the UK's min are 0 and all values greater than or equal to the UK's min are coded as 1 
4. Display the countries for which total vaccinated is at the same rate or more than the UK

**Test output**:

1. 1402432.0
2. 1402432
3. `df['total_vaccinations']` should output:
```
0        0
6        0
22       0
44       0
59       0
        ..
14989    0
14990    0
14991    0
14992    0
14993    0
Name: total_vaccinations, Length: 9011, dtype: int64
```
4. 
```
array(['Argentina', 'Australia', 'Austria', 'Azerbaijan', 'Bangladesh',
       'Belgium', 'Brazil', 'Cambodia', 'Canada', 'Chile', 'China',
       'Colombia', 'Czechia', 'Denmark', 'Dominican Republic', 'England',
       'Finland', 'France', 'Germany', 'Greece', 'Hong Kong', 'Hungary',
       'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan',
       'Kazakhstan', 'Malaysia', 'Mexico', 'Morocco', 'Nepal',
       'Netherlands', 'Norway', 'Pakistan', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Saudi Arabia',
       'Scotland', 'Serbia', 'Singapore', 'Slovakia', 'South Korea',
       'Spain', 'Sweden', 'Switzerland', 'Thailand', 'Turkey',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Wales'], dtype=object)
```

In [10]:
df

           country  ...                                     source_website
0      Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
6      Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
22     Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
44     Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
59     Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
...            ...  ...                                                ...
14989     Zimbabwe  ...  https://twitter.com/MoHCCZim/status/1388935941...
14990     Zimbabwe  ...  https://twitter.com/MoHCCZim/status/1388935941...
14991     Zimbabwe  ...  https://twitter.com/MoHCCZim/status/1388935941...
14992     Zimbabwe  ...  https://twitter.com/MoHCCZim/status/1388935941...
14993     Zimbabwe  ...  https://twitter.com/MoHCCZim/status/1388935941...

[9011 rows x 15 columns]

In [11]:
# Min total vaccinations of UK
print(df[df["country"] == "United Kingdom"]["total_vaccinations"].min())

# Save min for including in normalisation function
uk_total_vaccinations = round(df[df["country"] == "United Kingdom"]["total_vaccinations"].min())
print(uk_total_vaccinations)

1402432.0
1402432

In [12]:
def normalise_total_vaccinations(df):
  if df["total_vaccinations"] >= uk_total_vaccinations:
    return 1
  else:
    return 0

df["total_vaccinations"] = df.apply(normalise_total_vaccinations, axis=1)

In [13]:
df.loc[df["total_vaccinations"] == 1]["country"].unique()

array(['Argentina', 'Australia', 'Austria', 'Azerbaijan', 'Bangladesh',
       'Belgium', 'Brazil', 'Cambodia', 'Canada', 'Chile', 'China',
       'Colombia', 'Czechia', 'Denmark', 'Dominican Republic', 'England',
       'Finland', 'France', 'Germany', 'Greece', 'Hong Kong', 'Hungary',
       'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan',
       'Kazakhstan', 'Malaysia', 'Mexico', 'Morocco', 'Nepal',
       'Netherlands', 'Norway', 'Pakistan', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Saudi Arabia',
       'Scotland', 'Serbia', 'Singapore', 'Slovakia', 'South Korea',
       'Spain', 'Sweden', 'Switzerland', 'Thailand', 'Turkey',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Wales'], dtype=object)

### Challenge 4 - create new series of total vaccinations for each manufacturer
---

To create a new column in your dataframe:

`df['new_column'] = ...`

For example:

* to duplicate an existing column
  * `df['new_column'] = df['old_column']`
* to add two columns together 
  * `df['new_column'] = df['column1'] + df['column2']`
* to make a percentages column 
  * `df['new_column'] = (df['column1']/df['column1].sum()) * 100`

  
1. read data from 'by_manufacturer' sheet from Covid data 
2. find the sum of total vaccinations for each manufacturer
3. create a new column that has the total vaccinations as a percentage of the overall sum of total vaccinations 
4. find the median percentage 
5. create a new column called 'normalised_percentages' which duplicates the percentages column
6. normalise the normalised_percentages column so that any values greater than or equal to the median percentage = 1 and any lesser than = 0 


**Test output**:

1.
2. 
```
vaccine
Johnson&Johnson        264839828
Moderna               5548036383
Oxford/AstraZeneca     539433203
Pfizer/BioNTech       8690461304
Sinovac                604660293
Name: total_vaccinations, dtype: int64
```
3. 
```
	location	date	vaccine	total_vaccinations	percentages
0	Chile	2020-12-24	Pfizer/BioNTech	420	0.000003
1	Chile	2020-12-25	Pfizer/BioNTech	5198	0.000033
2	Chile	2020-12-26	Pfizer/BioNTech	8338	0.000053
3	Chile	2020-12-27	Pfizer/BioNTech	8649	0.000055
4	Chile	2020-12-28	Pfizer/BioNTech	8649	0.000055
...	...	...	...	...	...
3291	United States	2021-05-01	Moderna	105947940	0.677095
3292	United States	2021-05-01	Pfizer/BioNTech	129013657	0.824504
3293	United States	2021-05-02	Johnson&Johnson	8374395	0.053519
3294	United States	2021-05-02	Moderna	106780082	0.682413
3295	United States	2021-05-02	Pfizer/BioNTech	130252779	0.832423
3296 rows × 5 columns
```
4. 0.0011110194374896931
5. 
6. 
```
	location	date	vaccine	total_vaccinations	percentages	normalise	normalised
0	Chile	2020-12-24	Pfizer/BioNTech	420	0.000003	0.000003	0
1	Chile	2020-12-25	Pfizer/BioNTech	5198	0.000033	0.000033	0
2	Chile	2020-12-26	Pfizer/BioNTech	8338	0.000053	0.000053	0
3	Chile	2020-12-27	Pfizer/BioNTech	8649	0.000055	0.000055	0
4	Chile	2020-12-28	Pfizer/BioNTech	8649	0.000055	0.000055	0
...	...	...	...	...	...	...	...
3291	United States	2021-05-01	Moderna	105947940	0.677095	0.677095	1
3292	United States	2021-05-01	Pfizer/BioNTech	129013657	0.824504	0.824504	1
3293	United States	2021-05-02	Johnson&Johnson	8374395	0.053519	0.053519	1
3294	United States	2021-05-02	Moderna	106780082	0.682413	0.682413	1
3295	United States	2021-05-02	Pfizer/BioNTech	130252779	0.832423	0.832423	1
3296 rows × 7 columns
```

In [14]:
df2 = pd.read_excel(url, sheet_name = "by_manufacturer")
df2

           location       date          vaccine  total_vaccinations
0             Chile 2020-12-24  Pfizer/BioNTech                 420
1             Chile 2020-12-25  Pfizer/BioNTech                5198
2             Chile 2020-12-26  Pfizer/BioNTech                8338
3             Chile 2020-12-27  Pfizer/BioNTech                8649
4             Chile 2020-12-28  Pfizer/BioNTech                8649
...             ...        ...              ...                 ...
3291  United States 2021-05-01          Moderna           105947940
3292  United States 2021-05-01  Pfizer/BioNTech           129013657
3293  United States 2021-05-02  Johnson&Johnson             8374395
3294  United States 2021-05-02          Moderna           106780082
3295  United States 2021-05-02  Pfizer/BioNTech           130252779

[3296 rows x 4 columns]

In [15]:
df2.columns

Index(['location', 'date', 'vaccine', 'total_vaccinations'], dtype='object')

In [16]:
df2.groupby("vaccine")["total_vaccinations"].sum()

vaccine
Johnson&Johnson        264839828
Moderna               5548036383
Oxford/AstraZeneca     539433203
Pfizer/BioNTech       8690461304
Sinovac                604660293
Name: total_vaccinations, dtype: int64

In [17]:
df2["% of all vaccinations"] = (df2["total_vaccinations"] / df2["total_vaccinations"].sum()) * 100
df2

           location       date  ... total_vaccinations  % of all vaccinations
0             Chile 2020-12-24  ...                420               0.000003
1             Chile 2020-12-25  ...               5198               0.000033
2             Chile 2020-12-26  ...               8338               0.000053
3             Chile 2020-12-27  ...               8649               0.000055
4             Chile 2020-12-28  ...               8649               0.000055
...             ...        ...  ...                ...                    ...
3291  United States 2021-05-01  ...          105947940               0.677095
3292  United States 2021-05-01  ...          129013657               0.824504
3293  United States 2021-05-02  ...            8374395               0.053519
3294  United States 2021-05-02  ...          106780082               0.682413
3295  United States 2021-05-02  ...          130252779               0.832423

[3296 rows x 5 columns]

In [18]:
median = df2["% of all vaccinations"].median()
print(median)

0.0011110194374896931

In [19]:
df2["normalised_percentages"] = df2["% of all vaccinations"]
df2 # Check

           location       date  ... % of all vaccinations  normalised_percentages
0             Chile 2020-12-24  ...              0.000003                0.000003
1             Chile 2020-12-25  ...              0.000033                0.000033
2             Chile 2020-12-26  ...              0.000053                0.000053
3             Chile 2020-12-27  ...              0.000055                0.000055
4             Chile 2020-12-28  ...              0.000055                0.000055
...             ...        ...  ...                   ...                     ...
3291  United States 2021-05-01  ...              0.677095                0.677095
3292  United States 2021-05-01  ...              0.824504                0.824504
3293  United States 2021-05-02  ...              0.053519                0.053519
3294  United States 2021-05-02  ...              0.682413                0.682413
3295  United States 2021-05-02  ...              0.832423                0.832423

[3296 rows x 6 columns]

In [20]:
def normalise_percent_vaccinations(df2):
  if df2["% of all vaccinations"] >= median:
    return 1
  else:
    return 0

df2["normalised_percentages"] = df2.apply(normalise_percent_vaccinations, axis=1)

In [21]:
df2

           location       date  ... % of all vaccinations  normalised_percentages
0             Chile 2020-12-24  ...              0.000003                       0
1             Chile 2020-12-25  ...              0.000033                       0
2             Chile 2020-12-26  ...              0.000053                       0
3             Chile 2020-12-27  ...              0.000055                       0
4             Chile 2020-12-28  ...              0.000055                       0
...             ...        ...  ...                   ...                     ...
3291  United States 2021-05-01  ...              0.677095                       1
3292  United States 2021-05-01  ...              0.824504                       1
3293  United States 2021-05-02  ...              0.053519                       1
3294  United States 2021-05-02  ...              0.682413                       1
3295  United States 2021-05-02  ...              0.832423                       1

[3296 rows x 6 columns]